<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EquipmentCommunications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EquipmentCommunications.Properties.Settings>
            <setting name="LoadLock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadPorts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LoadPort1Name" serializeAs="String">
                <value>Port 1</value>
            </setting>
            <setting name="LoadPort2Name" serializeAs="String">
                <value>Load Port B2</value>
            </setting>
            <setting name="ToolBrand" serializeAs="String">
                <value>EvaTec</value>
            </setting>
            <setting name="ToolID" serializeAs="String">
                <value>6-6-EVAP-01</value>
            </setting>
        </EquipmentCommunications.Properties.Settings>
    </applicationSettings>
</configuration>